<%- include('header') %>
    <h2>
        Admin Vagas:
        <a href="/admin/vagas/nova">Nova Vaga</a>
    </h2>
    <div>
            <ul>
                <% jobs.forEach( job => { %>
                <li>
                    <%- job.title %> |
                    <a href="/admin/vagas/delete/<%- job.id %>">Excluir</a> |
                    <a href="/admin/vagas/editar/<%- job.id %>">Editar</a>
                </li>
                <% }); %>
            </ul>
    </div>
<%- include('footer') %>